@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


html, body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-slide-left {
  animation: slide-left 0.2s ease-out forwards;
}

.animate-scale-up {
  animation: scale-up 0.15s ease-out forwards;
}

/* Opcional: El difuminado de fondo que usamos en los paneles */
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out forwards;
}